In [50]:
import numpy as np

# import pandas untuk data (csv) manipulation
import pandas as pd

# untuk plotting
import matplotlib.pyplot as plt
import matplotlib as mpl

# tambahan untuk plotting
import seaborn as sns

# Untuk hasil plot yg interaktif 
# import plotly.plotly as py
import plotly.graph_objs as go


# Tidak menampilkan peringatan error agar terlihat rapi
import warnings
warnings.filterwarnings("ignore")

# display plots
%matplotlib inline

In [51]:
pd.set_option('display.max_columns', None)
data = pd.read_csv("data_test.csv")
data

,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,OCCUPATION_TYPE,HOUSETYPE_MODE,CREDIT_ACTIVE,CREDIT_TYPE,NAME_CONTRACT_TYPE,NAME_CONTRACT_STATUS,CNT_INSTALMENT,AGE_YEARS,AMT_INCOME_TOTAL,YEARS_ENTRY_PAYMENT,EMPLOYED_TO_AGE_RATIO,AMT_ANNUITY,NUM_INSTALMENT_NUMBER,YEARS_EMPLOYED,AMT_CREDIT,EXT_SOURCE_MEAN,TARGET
0,M,N,Y,Working,Secondary / secondary special,Single / not married,Sales staff,block of flats,Closed,Consumer credit,Cash loansConsumer loans,ApprovedActiveActive,12.0,28.345205,135000.0,0.139726,0.061956,28398.735,19,1.756164,480703.5,0.273696,1
1,F,N,N,Working,Secondary / secondary special,Married,High skill tech staff,block of flats,Closed,Consumer credit,Cash loansConsumer loans,ApprovedActiveActive,10.0,34.506849,135000.0,0.189041,0.116792,30596.940,9,4.030137,524718.0,0.229567,1
2,M,Y,Y,Working,Secondary / secondary special,Married,Drivers,block of flats,Closed,Consumer credit,Cash loansConsumer loans,ApprovedActiveActive,4.0,39.142466,247500.0,5.432877,0.336180,62235.765,7,13.158904,744889.5,0.662404,1
3,M,N,Y,State servant,Higher education,Married,Managers,block of flats,Closed,Credit card,Cash loansConsumer loans,ApprovedActiveActive,6.0,41.358904,247500.0,1.419178,0.076312,44904.960,23,3.156164,679792.5,0.439996,1
4,M,N,Y,Working,Secondary / secondary special,Married,Laborers,block of flats,Closed,Consumer credit,Cash loansConsumer loans,ApprovedActiveActive,12.0,26.887671,225000.0,0.054795,0.016711,31282.650,18,0.449315,523606.5,0.222559,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2823,F,N,Y,Commercial associate,Secondary / secondary special,Single / not married,Sales staff,block of flats,Closed,Consumer credit,Cash loansConsumer loans,ApprovedActiveActive,8.0,43.569863,112500.0,0.419178,0.047915,17577.855,24,2.087671,266935.5,0.418595,0
2824,F,N,Y,Working,Secondary / secondary special,Widow,Sales staff,block of flats,Closed,Consumer credit,Cash loansConsumer loans,ApprovedCompletedActive,14.0,60.558904,292500.0,1.753425,0.167481,114163.560,21,10.142466,2157772.5,0.282015,0
2825,M,Y,Y,Commercial associate,Higher education,Married,Cooking staff,block of flats,Closed,Consumer credit,Cash loansConsumer loans,ApprovedActiveActive,6.0,31.545205,202500.0,0.520548,0.023102,25973.010,32,0.728767,300888.0,0.323491,0
2826,M,Y,Y,Working,Secondary / secondary special,Married,Sales staff,block of flats,Closed,Consumer credit,Cash loansConsumer loans,ApprovedSignedActive,6.0,26.761644,135000.0,0.032877,0.151822,33471.225,39,4.063014,311733.0,0.416407,0
2827,F,N,N,Working,Higher education,Married,Sales staff,block of flats,Closed,Credit card,Cash loansConsumer loans,ApprovedActiveActive,12.0,42.328767,90000.0,2.361644,0.285178,32630.805,16,12.071233,454410.0,0.591347,0

In [89]:
data.EXT_SOURCE_MEAN.describe().T

count    2828.000000
mean        0.461626
std         0.126111
min         0.057212
25%         0.381399
50%         0.461138
75%         0.548689
max         0.815161
Name: EXT_SOURCE_MEAN, dtype: float64

In [53]:
data.isna().sum()

CODE_GENDER              0
FLAG_OWN_CAR             0
FLAG_OWN_REALTY          0
NAME_INCOME_TYPE         0
NAME_EDUCATION_TYPE      0
NAME_FAMILY_STATUS       0
OCCUPATION_TYPE          0
HOUSETYPE_MODE           0
CREDIT_ACTIVE            0
CREDIT_TYPE              0
NAME_CONTRACT_TYPE       0
NAME_CONTRACT_STATUS     0
CNT_INSTALMENT           0
AGE_YEARS                0
AMT_INCOME_TOTAL         0
YEARS_ENTRY_PAYMENT      0
EMPLOYED_TO_AGE_RATIO    0
AMT_ANNUITY              0
NUM_INSTALMENT_NUMBER    0
YEARS_EMPLOYED           0
AMT_CREDIT               0
EXT_SOURCE_MEAN          0
TARGET                   0
dtype: int64

In [54]:
data.TARGET.value_counts()

1    1414
0    1414
Name: TARGET, dtype: int64

In [55]:
obj_col = data.select_dtypes(['object']).columns.to_list()
numeric_col = data.select_dtypes(exclude='object').columns.to_list()
print("Columns with object Dtypes are =\n", obj_col)
print('')
print("Columns with numerical Dtypes are =\n", numeric_col)

Columns with object Dtypes are =
 ['CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'OCCUPATION_TYPE', 'HOUSETYPE_MODE', 'CREDIT_ACTIVE', 'CREDIT_TYPE', 'NAME_CONTRACT_TYPE', 'NAME_CONTRACT_STATUS']

Columns with numerical Dtypes are =
 ['CNT_INSTALMENT', 'AGE_YEARS', 'AMT_INCOME_TOTAL', 'YEARS_ENTRY_PAYMENT', 'EMPLOYED_TO_AGE_RATIO', 'AMT_ANNUITY', 'NUM_INSTALMENT_NUMBER', 'YEARS_EMPLOYED', 'AMT_CREDIT', 'EXT_SOURCE_MEAN', 'TARGET']

In [56]:
data.CODE_GENDER.value_counts()

F    1853
M     975
Name: CODE_GENDER, dtype: int64

In [57]:
data.FLAG_OWN_CAR.value_counts()

N    1939
Y     889
Name: FLAG_OWN_CAR, dtype: int64

In [58]:
data.FLAG_OWN_REALTY.value_counts()

Y    1984
N     844
Name: FLAG_OWN_REALTY, dtype: int64

In [59]:
data.NAME_INCOME_TYPE.value_counts()

Working                 1830
Commercial associate     742
State servant            256
Name: NAME_INCOME_TYPE, dtype: int64

In [60]:
data.NAME_EDUCATION_TYPE.value_counts()

Secondary / secondary special    1926
Higher education                  762
Incomplete higher                  93
Lower secondary                    46
Academic degree                     1
Name: NAME_EDUCATION_TYPE, dtype: int64

In [61]:
data.NAME_FAMILY_STATUS.value_counts()

Married                 1960
Single / not married     372
Civil marriage           251
Separated                208
Widow                     37
Name: NAME_FAMILY_STATUS, dtype: int64

In [62]:
data.OCCUPATION_TYPE.value_counts()

Laborers                 747
Sales staff              487
Core staff               339
Managers                 328
Drivers                  184
High skill tech staff    138
Accountants              124
Medicine staff            99
Security staff            98
Cleaning staff            78
Cooking staff             64
Private service staff     33
Waiters/barmen staff      32
Secretaries               24
Low-skill Laborers        23
Realty agents             18
HR staff                   7
IT staff                   5
Name: OCCUPATION_TYPE, dtype: int64

In [63]:
data.HOUSETYPE_MODE.value_counts()

block of flats      2781
specific housing      40
terraced house         7
Name: HOUSETYPE_MODE, dtype: int64

In [64]:
data.CREDIT_ACTIVE.value_counts()

Closed    2821
Sold         7
Name: CREDIT_ACTIVE, dtype: int64

In [65]:
data.CREDIT_TYPE.value_counts()

Consumer credit         2521
Credit card              248
Car loan                  28
Microloan                 23
Mortgage                   7
Unknown type of loan       1
Name: CREDIT_TYPE, dtype: int64

In [66]:
data.NAME_CONTRACT_TYPE.value_counts()

Cash loansConsumer loans         2709
Cash loansCash loans              117
Revolving loansConsumer loans       2
Name: NAME_CONTRACT_TYPE, dtype: int64

In [67]:
data.NAME_CONTRACT_STATUS.value_counts()

ApprovedActiveActive                   2520
ApprovedCompletedActive                 228
ApprovedActiveCompleted                  42
ApprovedSignedActive                     17
ApprovedApprovedActive                    9
ApprovedCompletedCompleted                9
ApprovedReturned to the storeActive       2
ApprovedActiveSigned                      1
Name: NAME_CONTRACT_STATUS, dtype: int64

In [68]:
data.isna().sum()

CODE_GENDER              0
FLAG_OWN_CAR             0
FLAG_OWN_REALTY          0
NAME_INCOME_TYPE         0
NAME_EDUCATION_TYPE      0
NAME_FAMILY_STATUS       0
OCCUPATION_TYPE          0
HOUSETYPE_MODE           0
CREDIT_ACTIVE            0
CREDIT_TYPE              0
NAME_CONTRACT_TYPE       0
NAME_CONTRACT_STATUS     0
CNT_INSTALMENT           0
AGE_YEARS                0
AMT_INCOME_TOTAL         0
YEARS_ENTRY_PAYMENT      0
EMPLOYED_TO_AGE_RATIO    0
AMT_ANNUITY              0
NUM_INSTALMENT_NUMBER    0
YEARS_EMPLOYED           0
AMT_CREDIT               0
EXT_SOURCE_MEAN          0
TARGET                   0
dtype: int64

In [69]:
# data.dropna(how ='any', inplace=True)

In [70]:
data['CODE_GENDER'] = data['CODE_GENDER'].map({'M':0, 'F':1})
data['FLAG_OWN_CAR'] = data['FLAG_OWN_CAR'].map({'N':0, 'Y':1})
data['FLAG_OWN_REALTY']=data['FLAG_OWN_REALTY'].map({'N':0, 'Y':1})
data['NAME_INCOME_TYPE'] = data['NAME_INCOME_TYPE'].map({'Working':0, 'Commercial associate':1, 'State servant':2})
data['NAME_EDUCATION_TYPE'] = data['NAME_EDUCATION_TYPE'].map({'Secondary / secondary special':0, 'Higher education':1, 'Incomplete higher':2, 'Lower secondary':3, 'Academic degree':4})
data['NAME_FAMILY_STATUS'] = data['NAME_FAMILY_STATUS'].map({'Married':0, 'Single / not married':1, 'Civil marriage':2, 'Separated':3, 'Widow':4})
data['OCCUPATION_TYPE'] = data['OCCUPATION_TYPE'].map({'Laborers':0, 'Sales staff':1, 'Core staff':2, 'Managers':3,
                                                       'Drivers':4, 'High skill tech staff':5, 'Accountants':6,
                                                       'Medicine staff':7, 'Security staff':8, 'Cleaning staff':9,
                                                       'Cooking staff':10, 'Private service staff':11, 'Waiters/barmen staff':12,
                                                       'Secretaries':13, 'Low-skill Laborers':14,
                                                       'Realty agents':15, 'HR staff':16, 'IT staff':17})
data['HOUSETYPE_MODE'] = data['HOUSETYPE_MODE'].map({'block of flats':0, 'specific housing':1, 'terraced house':2})
data['CREDIT_ACTIVE'] = data['CREDIT_ACTIVE'].map({'Closed':0, 'Sold':1})
data['CREDIT_TYPE'] = data['CREDIT_TYPE'].map({'Consumer credit':0, 'Credit card':1, 'Car loan':2,
                                               'Microloan':3, 'Mortgage':4, 'Unknown type of loan':5})
data['NAME_CONTRACT_TYPE'] = data['NAME_CONTRACT_TYPE'].map({'Cash loansConsumer loans':0, 'Cash loansCash loans':1, 'Revolving loansConsumer loans':2})
data['NAME_CONTRACT_STATUS'] = data['NAME_CONTRACT_STATUS'].map({'ApprovedActiveActive':0, 'ApprovedCompletedActive':1, 'ApprovedActiveCompleted':2, 'ApprovedSignedActive':3,
                                                                 'ApprovedApprovedActive':4,'ApprovedCompletedCompleted':5, 'ApprovedReturned to the storeActive':6, 'ApprovedActiveSigned':7})

In [72]:
X = data.loc[:, data.columns != 'TARGET']
y = data['TARGET']

In [73]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,
                                                    random_state=1)

In [74]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [75]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(random_state=210, n_jobs=-1, max_depth=10,
                                       n_estimators=100, oob_score=True, verbose=1)

In [76]:
#Create one variable (params) to deposit whatever we will try to do with the model

params = {
    'max_depth': [2,3,5,10,15,19,20,30],
    'min_samples_leaf': [5,10,20,50,100],
    'min_samples_split': [5,10,20,50,100],
    'n_estimators': [10,25,30,50,100]
}

In [77]:
from sklearn.model_selection import GridSearchCV

# Instantiate the grid search model
grid_search = GridSearchCV(estimator=rf,
                           param_grid=params,
                           cv = 3,
                           n_jobs=-1, verbose=1, scoring="accuracy")

grid_search.fit(X_train, y_train)

Fitting 3 folds for each of 1000 candidates, totalling 3000 fits

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  26 tasks      | elapsed:    0.0s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    0.1s finished

GridSearchCV(cv=3,
             estimator=RandomForestClassifier(max_depth=10, n_jobs=-1,
                                              oob_score=True, random_state=210,
                                              verbose=1),
             n_jobs=-1,
             param_grid={'max_depth': [2, 3, 5, 10, 15, 19, 20, 30],
                         'min_samples_leaf': [5, 10, 20, 50, 100],
                         'min_samples_split': [5, 10, 20, 50, 100],
                         'n_estimators': [10, 25, 30, 50, 100]},
             scoring='accuracy', verbose=1)

In [78]:
# To see best_score
grid_search.best_score_

0.9341290893015031

In [80]:
rf_best = grid_search.best_estimator_
y_rf_after = rf_best.predict(X_test)

[Parallel(n_jobs=12)]: Using backend ThreadingBackend with 12 concurrent workers.
[Parallel(n_jobs=12)]: Done  26 tasks      | elapsed:    0.0s
[Parallel(n_jobs=12)]: Done 100 out of 100 | elapsed:    0.0s finished

In [81]:
from sklearn.metrics import accuracy_score
print("Random Forest dengan Hyperparamater Tuning : \n", accuracy_score(y_test, y_rf_after))

Random Forest dengan Hyperparamater Tuning :
 0.9770318021201413

In [83]:
from sklearn.metrics import classification_report
print("Random Forest dengan Hyperparameter Tuning : \n\n", classification_report(y_test, y_rf_after))

Random Forest dengan Hyperparameter Tuning :

               precision    recall  f1-score   support

           0       1.00      0.95      0.98       276
           1       0.96      1.00      0.98       290

    accuracy                           0.98       566
   macro avg       0.98      0.98      0.98       566
weighted avg       0.98      0.98      0.98       566

In [84]:
from sklearn.metrics import roc_curve, auc
fpr, tpr, thresholds = roc_curve(y_test, y_rf_after, pos_label=1) # pos_label: positive label
print("Random Forest dengan Hyperparameter Tuning :", auc(fpr, tpr))

Random Forest dengan Hyperparameter Tuning : 0.9764492753623188

In [86]:
# saving the model 
import pickle 
pickle_out = open("classifier.pkl", mode = "wb") 
pickle.dump(grid_search, pickle_out) 
pickle_out.close()